# ── Backend Go ──────────────────────────────────────────────────────────────
Backend/.env
Backend/serviceAccount.json
Backend/*.exe

# ── Frontend Flutter ─────────────────────────────────────────────────────────
Frontend/.env
